{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="baidu-site-verification" content="axzaiwslsh" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/fontawesome.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.7.2/css/all.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/media/live2dw/lib/L2Dwidget.min.js"></script>
    <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
    <link rel="icon" href="/media/icons/tree_relax.ico" type="images/png" />
    <title>在成都的工作和生活</title>
    <script>
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?32227606de1398729c97d9242efd8a64";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>BYINCD</h1>
            <span class="subheading">在成都的工作和生活</span>
            <section id="search" align="center">
              <hr width="40%" style="border:2px solid #F0E68C;"/>
              <form class="form-inline my-2 my-lg-0" role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                <div id="search-elements">
                  <select class="custom-select my-1 mr-sm-2" id="site-select">
                    <option value="note" style="color: #1E90FF;">搜笔记</option>
                    <option value="diary" style="color: #FFB6C1;">搜日记</option>
                  </select>
                  <input class="form-control mr-sm-2" type="search" name="q" placeholder="e.g. openstf pandas appium">
                  <button class="btn btn-info my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true">搜索</i></button>
                  <a class="btn btn-info my-2 my-sm-0" href="/diary/?s=" style="display: none;"><i class="fa fa-search" aria-hidden="true">搜索</i></a>
                </div>
              </form>
            </section>
            <!--<span style="padding: 10px;"></span>-->
            <!--<hr width="20%" style="border:2px solid #1E90FF;"/>-->
            <!--<div id="site-include" align="center">-->
              <!--<ul class="list-inline mb-2">-->
                <!--<li class="list-inline-item">&sdot;</li>-->
                <!--<li class="list-inline-item">-->
                  <!--<a href="/bobjiang">工作笔记</a>-->
                <!--</li>-->
                <!--<li class="list-inline-item">&sdot;</li>-->
                <!--<li class="list-inline-item">-->
                  <!--<a href="/diary">日记游记</a>-->
                <!--</li>-->
                <!--<li class="list-inline-item">&sdot;</li>-->
                <!--<li class="list-inline-item">-->
                  <!--<a href="/jupyter">在线练习代码</a>-->
                <!--</li>-->
                <!--<li class="list-inline-item">&sdot;</li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--<div id="my-info" align="center">-->
              <!--<ul class="list-inline mb-0">-->
                <!--<li class="list-inline-item mr-3">-->
                  <!--<a title="jbsv43@sina.com">-->
                    <!--<span class="fa-stack fa-lg">-->
                      <!--<i class="fas fa-circle fa-stack-2x fa-inverse"></i>-->
                      <!--<i class="fas fa-envelope fa-stack-1x"></i>-->
                    <!--</span>-->
                    <!--<p>jbsv43@sina.com</p>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li class="list-inline-item mr-3">-->
                  <!--<a title="48090730">-->
                    <!--<span class="fa-stack fa-lg">-->
                      <!--<i class="fas fa-circle fa-stack-2x fa-inverse"></i>-->
                      <!--<i class="fab fa-qq fa-stack-1x"></i>-->
                    <!--</span>-->
                    <!--<p>48090730</p>-->
                  <!--</a>-->
                <!--</li>-->
                <!--<li class="list-inline-item mr-3">-->
                  <!--<a title="成都">-->
                    <!--<span class="fa-stack fa-lg">-->
                      <!--<i class="fas fa-circle fa-stack-2x fa-inverse"></i>-->
                      <!--<i class="fas fa-map-marker-alt fa-stack-1x"></i>-->
                    <!--</span>-->
                    <!--<p>成都</p>-->
                  <!--</a>-->
                <!--</li>-->
              <!--</ul>-->
              <!--<p id="copyright" class="text-muted mb-4 mb-lg-0">By &copy; BobJiang</p>-->
            <!--</div>-->
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="/bobjiang" style="color: #1E90FF;">工作笔记</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="/diary" style="color: #1E90FF;">日记游记</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="/jupyter" style="color: #1E90FF;">在线练习代码</a>
              </li>
            </ul>
            <p class="text-muted mb-4 mb-lg-0">By &copy; BobJiang</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a title="jbsv43@sina.com">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fas fa-envelope fa-stack-1x"></i>
                  </span>
                  <p class="my-info">jbsv43@sina.com</p>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a title="48090730">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fab fa-qq fa-stack-1x"></i>
                  </span>
                  <p class="my-info">48090730</p>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a title="成都">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fas fa-map-marker-alt fa-stack-1x"></i>
                  </span>
                  <p class="my-info">成都</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <span id="beian">
          <a href="http://www.miitbeian.gov.cn/" target="_blank">蜀ICP备18017146号</a>
          <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51012202000327"><img src="https://www.byincd.com/diary/wp-content/uploads/2018/07/gonganbu.png"/> 川公网安备 51012202000327号</a>
      </span>
    </footer>
  </body>
  <script type="text/javascript">
    $(function () {
      if (location.pathname.indexOf("/bobjiang") >= 0) {
          $("#beian").css("display", "none");
      }
      else {
          $("#beian").css("display", "block");
      }

      if ($("body").css("background-image").indexOf("/mobile") > 0) {
          var bg_files_mobile = ["hill_lake.jpg", "sky_bright_tree.jpg", "summer_fish_river.jpg", "summer_sea_beach.jpg"];
          var bg_current_mobile = bg_files_mobile[Math.floor(Math.random()*bg_files_mobile.length)];
          $("body").css("background-image", "url(/media/background/main/mobile/" + bg_current_mobile + ")");
      }
      else {
          var bg_files = ["bnZiEqdk_AI-1024x768.jpg", "GnFxV-UZyD0-1024x769.jpg", "KMn4VEeEPR8-1140x758.jpg", "animal-avian-bird-875858-1024x683.jpg"];
          var bg_current = bg_files[Math.floor(Math.random()*bg_files.length)];
          $("body").css("background-image", "url(/media/background/main/" + bg_current + ")");
      }

      // $('#site-select').val("note");
      $('#search-elements a').attr("href", "/diary/?s=");

      var current_site_select = $('#site-select').children('option:selected').val();
      if (current_site_select === "diary") {
          $('#search-elements input').attr("placeholder","e.g. 旅行 美食 生活");
          $('#search-elements button').css("display", "none");
          $('#search-elements a').css("display", "inline-block");
      }
      else if (current_site_select === "note") {
          $('#search-elements input').attr("placeholder","e.g. openstf pandas appium");
          $('#search-elements a').css("display", "none");
          $('#search-elements button').css("display", "inline-block");
      }

      $('#site-select').change(function(){
          var a = $(this).children('option:selected').val();
          if (a === "diary") {
              <!--document.getElementById("search-input").setAttribute("placeholder","test");-->
              $('#search-elements input').attr("placeholder","e.g. 旅行 美食 生活");
              $('#search-elements button').css("display", "none");
              $('#search-elements a').css("display", "inline-block");
          }
          else if (a === "note") {
              $('#search-elements input').attr("placeholder","e.g. openstf pandas appium");
              $('#search-elements a').css("display", "none");
              $('#search-elements button').css("display", "inline-block");
          }
      });

      $('#search-elements input').keypress(function(e){
          if(e.keyCode==13){
              if ($('#site-select').children('option:selected').val() === "diary") {
                  e.preventDefault();
                  $('#search-elements a').attr("href", "/diary/?s=");
                  var diary_search_prefix = $('#search-elements a').attr("href");
                  var search_word = $('#search-elements input').val();
                  var words = search_word.split(" ").join("+");
                  window.location.href = diary_search_prefix + words;
              }
          }
      });

      $('#search-elements a').click(function(){
          $('#search-elements a').attr("href", "/diary/?s=");
          var diary_search_prefix = $('#search-elements a').attr("href");
          var search_word = $('#search-elements input').val();
          var words = search_word.split(" ").join("+");
          $('#search-elements a').attr("href", diary_search_prefix + words);
      });

    })
  </script>
  <script type="text/javascript">
    setTimeout(() => {
        L2Dwidget.init({
            "pluginRootPath":"live2dw/",
            "pluginJsPath":"lib/",
            "pluginModelPath":"assets/",
            "tagMode":false,
            "log":false,
            "model":{
                "jsonPath":"/media/live2dw/assets/hijiki.model.json"
            },
            "display":{
                {% if device_type != 'mobile' %}
                "position":"right",
                "width":150,
                "height":300
                {% else %}
                "position":"right",
                "width":75,
                "height":150
                {% endif %}
            },
            "mobile":{
                "show":true
            }
        });
    }, 200)
  </script>
</html>
