{% extends 'tool/base.html' %}

{% block content %}
<div class="row" style="margin: 20px;">
    <div class="col-lg-4 md-4" style="text-align: center;">
        <div class="card">
            <div class="card-body">
                <h3><a href="geoip"><i class="fas fa-map-marker-alt"></i>&ensp;GeoIP</a></h3>
            </div>
        </div>
    </div>
    <div class="col-lg-4 md-4" style="text-align: center;">
        <div class="card">
            <div class="card-body">
                <h3><a href="useragent"><i class="fab fa-internet-explorer"></i>&ensp;UserAgent</a></h3>
            </div>
        </div>
    </div>
    <div class="col-lg-4 md-4" style="text-align: center;">
        <div class="card">
            <div class="card-body">
                <h3><a href="query"><i class="fas fa-search"></i>&ensp;Query</a></h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
