{% extends 'tool/base.html' %}

{% block content %}
<div class="row" style="margin: 20px;">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="search-container" style="margin: 0px 20px; padding: 10px;">
            <h5>你当前IP是: {{own_ip}}</h5><br/>
            <form action="{% url 'tool_geoip' %}" method="post">
                {% csrf_token %}
            <label for="keyword">输入IP：</label><br>
            <input id="keyword" type="text" name="key-word" value="{{ keyword }}" class='form-control mr-sm-2' required="true" placeholder='IP Address' style="width:200px;"><p></p>
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">查询</button>
            {% if request.session.validate_error %}
            <p style="color:red">{{request.session.validate_error}}</p>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<hr width="60%" style="border:2px solid #BDB76B;"/>
<div class="row" style="margin: 20px;">
    <div class="col-md-1"></div>
    <div class="col-md-10">
         <table name="capture-table" class="table table-sm table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">IP</th>
                    <th scope="col">Location (just a reference, may biased by deviation)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for k, v in data.items %}
                    <td scope="col">{{ v }}</td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <hr width="30%" style="border:2px #BDB76B;"/>
    </div>
    <div class="col-md-1"></div>
</div>
{% endblock %}
