{% extends 'blog/base.html' %}

{% block content %}
<div class="col-md-8">

  <h2 class="my-4">日期</h2>

  <!-- Blog Post -->
  <ul class="list-group">
    {% for date in date_list %}
      <li class="list-group-item ">
      <a href="{% url 'archives_date' date.year date.month %}">{{ date.year }} 年 {{ date.month}} 月</a>
      </li>
    {% empty %}
    <li class="list-group-item ">
      Not Available
    </li>
    {% endfor %}
    </ul>
</div>

<div class="col-md-8">

  <h2 class="my-4">类别</h2>

  <!-- Blog Post -->
  <ul class="list-group">
    {% for category in category_list %}
      <li class="list-group-item ">
      <a href="{% url 'archives_category' category %}">{{ category }}</a>
      </li>
    {% empty %}
    <li class="list-group-item ">
      Not Available
    </li>
    {% endfor %}
    </ul>
</div>

<div class="col-md-8">

  <h2 class="my-4">标签</h2>

  <!-- Blog Post -->
  <ul class="list-group">
    {% for tag in tag_list %}
      <li class="list-group-item ">
      <a href="{% url 'archives_tag' tag %}">{{ tag }}</a>
      </li>
    {% empty %}
    <li class="list-group-item ">
      Not Available
    </li>
    {% endfor %}
    </ul>
</div>

{% endblock %}
