{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="icon" href="/media/icons/tree1.ico" type="img/x-ico" />
        <title>Bob blog</title>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/bobjiang/"><b>云与树</b></a><br><small>向往一种简单的生活</small></h1><br>
        </div>

    <div class="content container">
        <div class="row">
            <div class="span8">
                <ul class="nav nav-pills">
                    <li><a href="/bobjiang/">首页</a></li>
                    <li><a href="/bobjiang/categorization/">文章分类</a></li>
                    <li><a href="/bobjiang/about/">关于</a></li>
                </ul>
            </div><br>
            {% if user.is_authenticated %}
                <a href="{% url 'create_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus">添加新文章</span></a>
            {% endif %}
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
        <footer>
        <div class="row footer-bottom">
            <ul class="list-inline text-center">
                <li>友情链接:&emsp; <a href='http://www.byincd.com/diary'>日记游记</a>&emsp;|&emsp;<a href="http://www.byincd.com:8888/">在线练习代码</a></li>
            </ul>
            <ul class="list-inline text-center">
                <li>By &copy; BobJiang</li>
            </ul>
        </div>
        </footer>
<script>
    $(function () {
        $(".nav-pills").find("li").each(function () {
            var a = $(this).find("a:first")[0];
            if ($(a).attr("href") === location.pathname) {
                $(this).addClass("active");
            } else {
                $(this).removeClass("active");
            }
        });
    })
</script>
    </body>
</html>
