<article class="uk-comment uk-comment-primary uk-visible-toggle">
    <header class="uk-comment-header uk-position-relative">
        <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
                <img class="uk-comment-avatar" src="/media/head/niming-no-gender.png" width="80" height="80" alt="">
            </div>
            <div class="uk-width-expand">
                <h4 class="uk-comment-title uk-margin-remove">
                    <a class="uk-link-reset" href="#">{{ comment.user }}</a>
                </h4>
                <p class="uk-comment-meta uk-margin-remove-top">
                    <a class="uk-link-reset" href="#">{{ comment.created_time }}</a>
                </p>
            </div>
        </div>
        {% if level == 1 %}
            <div class="uk-position-bottom-right uk-position-small">
                <span class="uk-link-muted" href="#">#{{ counter }}</span>
            </div>
            <div class="uk-position-top-right uk-position-small uk-hidden-hover">
                <a class="uk-link-muted" href="#">Reply</a>
            </div>
        {% endif %}
    </header>
    <div class="uk-comment-body">
        <p>{{ comment.content }}</p>
    </div>
</article>
