{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}
    <article class="col-md-10">
    {% if post.visiable.name != 'private' or user.is_authenticated %}
        <hr/>
        <div class="card">
            <div class="card-header" style="background-color:#b8daff;">
                {{ post.created_date|date }} - 由{{post.author}} &ensp;&ensp;
                <span class='comment-count'>{{ post.comment_set.count }} 评论</span> &ensp;&ensp;
                <span class='view-count'>{{ post.views }} 阅读</span>
            </div>
            <div class="card-body">
                {% if post.visiable.name == 'private' %}
                  <h3><a href="{% url 'post_detail' post.id %}">[private] - {{ post.title }}</a></h3>
                {% else %}
                  <h3><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a><h3>
                {% endif %}
                <h6>{{ post.text|safe|truncatechars:120}}</h6>
                <!--<h6>{{ post.text|safe|linebreaksbr|truncatechars:150}}</h6>-->
            </div>
            <div class="read-more" style="padding:20px;">
                <!--<a href="{{ post.get_absolute_url }}" class="btn btn-primary">查看更多&rarr;</a>-->
                <a href="{% url 'post_detail' post.id %}" class="btn btn-primary">继续阅读</a>
            </div>
            <div class="card-footer bg-light text-dark">
                {% if post.category %}
                    <div class="category">
                      类别: <span class="badge badge-success">{{ post.category.name }};</span>
                    </div>
                {% endif %}
                {% if post.tag.all %}
                    <div class="tag">标签:
                    {% for t in post.tag.all %}
                        <span class="badge badge-info">{{ t.name }};</span>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    </article>
{% empty %}
  <h1>您搜索的条件没有数据</h1>
{% endfor %}
<hr color=#b8daff>
<ul class='pagination justify-content-center'>
    {% if posts.has_previous %}
        <li class="page-item"><a href="?page={{ posts.previous_page_number }}">&laquo;上一页&emsp;</a></li>
    {% endif %}

    {{ posts.number }} / {{ posts.paginator.num_pages }}

    {% if posts.has_next %}
        <li class="page-item"><a href="?page={{ posts.next_page_number }}">&emsp;下一页 &raquo;</a></li>
    {% endif %}
</div>
{% endblock %}
