#body {background-color: blue;}
#body {
#    background: url(/static/blog/css/gray-background.jpg) no-repeat fixed center; 
#    background-size: cover; 
#}

@media only screen and (orientation:portrait) {
    body {
        background-color: #F5F5F5;
        background: url(https://www.byincd.com/diary/wp-content/uploads/2019/01/free-wallpaper-hd-wallpaper-leaves-1454794-03-576x1024.jpg) no-repeat fixed;
        -webkit-background-size: auto auto;
    }
}
@media only screen and (orientation:landscape) and (max-device-width:840px) {
    body {
        background-color: #F5F5F5;
        background: url(https://www.byincd.com/diary/wp-content/uploads/2019/01/free-wallpaper-hd-wallpaper-leaves-1454794-03-576x1024.jpg) no-repeat fixed;
        -webkit-background-size: auto auto;
    }
}
@media only screen and (orientation:landscape) and (min-device-width:840px) {
    body {
        background-color: #F5F5F5;
        background: url(https://www.byincd.com/diary/wp-content/uploads/2019/01/free-wallpaper-hd-wallpaper-leaves-1454794-02-1024x576.jpg) no-repeat fixed center rgba(0,0,0,0.1);
        background-size: 100% 100%;
    }
}

h1 a {
    font-family: "Raleway", "HYLeMiaoTi","KaiTi","Microsoft Yahei";
}

span.highlighed {
    color: red;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 3px;
}

pre {
    display: block;
    padding: 9px;
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-world;
    color: lighten(#000, 20%);
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
}
