#body {background-color: blue;}
#body {
#    background: url(./gray-background.jpg) no-repeat fixed center; 
#    background-size: cover; 
#}

h1 a {
    font-family: "Raleway", "HYLeMiaoTi","KaiTi","Microsoft Yahei";
}

span.highlighed {
    color: red;
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 3px;
}

pre {
    display: block;
    padding: 9px;
    margin: 0 0 20px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-world;
    color: lighten(#000, 20%);
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 3px;
}
