{% extends 'blog/base.html' %}

{% block content %}
  <div class="about-container" style="padding:5%;">
    <h3 style="height:30px;"></h3>
    <span class='my-text'><h4>关于本站:</h4></span>
    <span class='my-text'><h6>- 仍在建设中，会加入多一点的功能和内容，会加上样式。</h6></span>
    <span class='my-text'><h6>- python3 + django2 + uwsgi + nginx.</h6></span>
    <span class='my-text'><h6>- 偶尔分享一些知识见闻和工作中遇到的问题。</h6></span>
    <span class='my-text'><h6>- 已有另两个站点，一是日记游记，一是在线代码练习，在根目录可见。</h6></span><hr>
    <span class='my-text'><h4>关于我:</h4></span>
    <span class='my-text'><h6>- 混迹于成都it圈</h6></span>
    <span class='my-text'><h6>- qq 48090730</h6></span><hr>
    <span class='my-text'><h4>关键词:</h4></span>
    <span class='my-text'><h6>-  python，测试框架，自动化测试，性能测试，web，app(ios,android)，api(rest,thrift,soap)，docker，selenium，appium，jmeter，jenkins，mysql，mongodb，etc..<h6></span>
  </div>
{% endblock %}
