{% extends 'blog/base.html' %}

{% block content %}
  <div class="about-container" style="padding:10px 20px;">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="/bobjiang/about-me/">关于我</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bobjiang/about-site/">关于本站</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bobjiang/about-visitor/">访问统计</a>
      </li>
    </ul>
    {% block aboutcontent %}
    {% endblock %}
  </div>
{% endblock %}
