{% extends 'blog/about.html' %}

{% block aboutcontent %}
    <h3 style="height:10px;"></h3>
    <span class='my-text'><h4>访问统计:</h4></span><br>
    <div id="visit_stat">

    </div>

    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('visit_stat'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '访客区域统计',
                subtext: 'byincd',
                sublink: 'https://www.byincd.com/bobjiang',
                left: 'center'
            },
            tooltip : {
                trigger: 'item'
            },
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
    <script type="text/javascript">
        document.title = '关于本站 - ' + document.title;
    </script>
{% endblock %}
