{% extends 'blog/about.html' %}

{% block aboutcontent %}
    <h3 style="height:30px;"></h3>
    <span class='my-text'><h4>关于我:</h4></span>
    <span class='my-text'><h6>- 混迹于成都it圈</h6></span>
    <span class='my-text'><h6>- qq 48090730</h6></span><hr>
    <span class='my-text'><h4>关键词:</h4></span>
    <span class='my-text'><h6>-    Python, 测试框架, 自动化测试, 性能测试, Web, APP(iOS,Android), django, API(Rest,Thrift,soap), Docker, Selenium, Appium, Jmeter, Jenkins, Mysql, Mongodb，etc..<h6></span>
    <img src="/media/wordcloud/aboutme_wordcloud.png" width="90%" height="90%">
{% endblock %}
