{% extends 'blog/about.html' %}

{% block aboutcontent %}
    <h3 style="height:10px;"></h3>
    <span class='my-text'><h6>- 关键词: Python, 测试开发, Web开发, 自动化平台, 测试框架, 自动化测试, 性能测试, 机器学习, APP(iOS,Android), Django, API(Rest,Thrift,soap), Docker, openstf, Selenium, Appium, Pandas, Jmeter, Jenkins, Mysql, Mongodb, Jenkins, Nginx，etc..</h6></span>
    <img src="/media/wordcloud/aboutme_wordcloud.png" width="90%" height="90%">

<script type="text/javascript">
    document.title = '关于我 - ' + document.title;
</script>
{% endblock %}
