{% extends 'blog/about.html' %}

{% block aboutcontent %}
    <h3 style="height:10px;"></h3>
    <span class='my-text'><h4>关于我:</h4></span>
    <span class='my-text'><h6>- 混迹于成都it圈</h6></span>
    <span class='my-text'><h6>- qq: 48090730   mail: jbsv43@sina.com</h6></span>
    <span class='my-text'><h6>- 关键词: Python, 测试框架, 自动化测试, 性能测试, Web, APP(iOS,Android), Django, API(Rest,Thrift,soap), Docker, openstf, Selenium, Appium, 机器学习, Pandas, Jmeter, Jenkins, Mysql, Mongodb, Jenkins, Nginx，etc..</h6></span>
    <img src="/media/wordcloud/aboutme_wordcloud.png" width="90%" height="90%">

<script type="text/javascript">
    document.title = '关于我 - ' + document.title;
</script>
{% endblock %}
