{% extends 'blog/about.html' %}

{% block aboutcontent %}
    <h3 style="height:30px;"></h3>
    <span class='my-text'><h4>关于本站:</h4></span>
    <span class='my-text'><h6>- python3 + django2 + bootstrap4 + uwsgi + nginx。</h6></span>
    <span class='my-text'><h6>- 偶尔分享一些知识见闻和工作中遇到的问题。</h6></span>
    <span class='my-text'><h6>- 已有另两个站点，一是日记游记，一是在线代码练习，在根目录可见。</h6></span>
    <span class='my-text'><h6>- 图标/图片来源:&emsp; <a href="https://icons8.cn/">icons8</a>&emsp;<a href="https://fontawesome.com/">font-awesome</a>&emsp;<a href="https://www.pexels.com//">pexels</a></h6></span>
    <hr>
    <label>近5次阅读量记录:</label><br>
    <button id="show-view-record" class="btn btn-outline-info my-2 my-sm-0" type="submit">点击生成</button>
    <p></p>
    <table id="view-count-table" class="table table-sm table-hover table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">$</th>
          <th scope="col">%</th>
          <th scope="col">*</th>
          <th scope="col">@</th>
        </tr>
      </thead>
    </table>

<script type="text/javascript">
    document.title = '关于本站 - ' + document.title;
</script>
{% endblock %}
