{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
        <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
        <!--<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">-->
        <link rel="icon" href="/media/icons/tree1.ico" type="img/x-ico" />
        <title>Bob blog</title>
        <!-- highlight when search -->
        <style>
            span.highlighted {
                color: red;
            }
        </style>
    </head>
    <body>
    <div class="content container-fluid">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4" name="widget-container">
              {% if device_type != 'mobile' %}
              <div name="widgets" style="position: fixed; top: 15%; margin: 15px 10px 5px 4%; padding: 0;">
              {% else %}
              <div name="widgets">
              {% endif %}
                <nav class="navbar navbar-light">
                  <a class="navbar-brand" href="/" style="margin: 0px auto; font-size: 28px">
                  <img src="/media/icons/icons8-rocket-64px-1.png" width="40" height="40" class="d-inline-block align-top" alt="">&ensp;BJ's Blog</a>
                </nav>
                {% if device_type != 'mobile' %}
                <nav class="navbar navbar-light">
                {% else %}
                <nav class="navbar navbar-light navbar-expand-sm">
                {% endif %}
                  {% if device_type != 'mobile' %}
                  <ul class="navbar-nav" style="margin: 0px auto;">
                  {% else %}
                  <ul class="nav nav-pills justify-content-center" style="margin: 0px auto;">
                  {% endif %}
                    <li class="nav-item">
                      <a class="nav-link" href="/bobjiang/">首页</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/bobjiang/categorization/">分类</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/bobjiang/about/">关于</a>
                    </li>
                    <li class="nav-item">
                      {% if user.is_authenticated %}
                        <a class="nav-link" href="/bobjiang/logout/">注销</a>
                      {% else %}
                        <a class="nav-link" href="/bobjiang/login/">登录</a>
                      {% endif %}
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                      <a href="{% url 'create_new' %}"><i class="fa fa-plus" aria-hidden="true">新增文章</i></a>
                    </li>
                    {% endif %}
                  </ul>
                </nav>
                <section id="search" align="center">
                  <hr width="30%" style="border:2px solid #F0E68C;"/>
                  <form class="form-inline my-2 my-lg-0" role="search" method="get" id="searchform" action="{% url 'haystack_search' %}">
                    <div name="search-elements" style="margin: 0px auto;">
                      <input class="form-control mr-sm-2" type="search" name="q" placeholder="请输入内容">
                      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true">搜索</i></button>
                    </div>
                  </form>
                </section>
                <!--<hr width=90% style="border:2px solid #F5F5F5; height: 50px;"/>-->
                {% if device_type != 'mobile' %}
                <h3 style="height:30px;"> </h3>
                {% endif %}
                <hr width=90% style="border:2px solid #b8daff;"/>
                <footer class="navbar-fixed-bottom">
                  <ul class="list-inline text-center">
                    <li>同站链接:&emsp; <a href="/diary/">日记游记</a>&emsp;|&emsp;<a href="http://www.byincd.com:8888/">在线练习代码</a></li>
                  </ul>
                  {% if device_type != 'mobile' %}
                  <ul class="list-inline text-center">
                    <li>By &copy; BobJiang</li>
                  </ul>
                  {% endif %}
                </footer>
              </div>
            </div>
            <div class="col-md-8" name="post-container" style="padding: 20px;">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>
    </div>

<script>
    $(function () {
        $(".navbar-nav").find("li").each(function () {
            var a = $(this).find("a:first")[0];
            if ($(a).attr("href") === location.pathname) {
                $(a).addClass("active");
            } else {
                $(a).removeClass("active");
            }
        });
    })
</script>
</body>
</html>
