{% extends 'blog/base.html' %}

{% block content %}
  <!-- post list -->
  <div class="container" style="margin-top: 40px;">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% if user.is_authenticated %}
        <!--<label for="sortarticle">文章排序</label>
        <span class="badge badge-primary" style="font-size: 15px;">文章排序</span>-->
        <select autofocus class="form-control" id="sortarticle" style="width:130px;">
          <option value="select type">文章排序</option>
          <option value="publish date">按发布日期</option>
          <option value="view count">按阅读量</option>
        </select>
        <a href="{% url 'create_new' %}"><i class="fa fa-plus" aria-hidden="true">新增文章</i></a>
        <p></p>
        {% endif %}
      {% for post in posts %}
        {% if post.visiable.name != 'private' or user.is_authenticated %}
        <div class="post-preview">
          <p class="post-meta">
              {{ post.created_date|date }} - 由{{post.author}} &ensp;&ensp;
              <span class='comment-count'>{{ post.comment_set.count }} 评论</span> &ensp;&ensp;
              <span class='view-count'>{{ post.views }} 阅读</span>
          </p>
          {% if post.visiable.name == 'private' %}
            <h3 class="post-title"><a href="{% url 'post_detail' post.id %}">[private] - {{ post.title }}</a></h3>
          {% else %}
            <h3><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
          {% endif %}
          <h6 class="post-subtitle">{{ post.text|safe|truncatechars:120}}</h6>
          <div class="read-more" style="padding:0 0 20px 0;">
              <!--<a href="{{ post.get_absolute_url }}" class="btn btn-primary">查看更多&rarr;</a>-->
              <a href="{% url 'post_detail' post.id %}" class="btn btn-outline-primary">继续阅读</a>
          </div>
            {% if post.category %}
                <div class="category">
                  <img src="/media/icons/icons8-category-40px-1.png" width="20" height="20">
                  <span class="badge badge-success">{{ post.category.name }}</span>
                </div>
            {% endif %}
            {% if post.tag.all %}
                <div class="tag"><img src="/media/icons/icons8-tag-64px-1.png" width="20" height="20">
                {% for t in post.tag.all %}
                    <span class="badge badge-info">{{ t.name }}</span>
                {% endfor %}
                </div>
            {% endif %}
        </div>
        <hr>
        {% endif %}
      {% empty %}
        <h1>您搜索的条件没有数据</h1>
      {% endfor %}
        <!-- Page navigation -->
        <ul class='pagination justify-content-center' style="line-height:40px;">
            {% if posts.has_previous %}
                <li class="page-item"><a href="?page={{ posts.previous_page_number }}" class="btn btn-primary float-left">&laquo;上一页</a></li>
            {% endif %}

            &nbsp;&nbsp; {{ posts.number }} / {{ posts.paginator.num_pages }} &nbsp;&nbsp;

            {% if posts.has_next %}
                <li class="page-item"><a href="?page={{ posts.next_page_number }}" class="btn btn-primary float-right">下一页 &raquo;</a></li>
            {% endif %}
            &emsp;<input class="form-control form-control-sm" id="page-number-input" style="width:30px;">
            <button class="btn btn-outline-secondary btn-sm" id="page-jump" onclick="window.location.href='?page='+document.getElementById('page-number-input').value">跳转</button>
        </ul>
      </div>
    </div>
  </div>


{% endblock %}
