{% extends 'blog/base.html' %}

{% block content %}
  <!-- post list -->
  <div class="container" style="margin-top: 20px;">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
          <!--<select class="custom-select" id="sortarticle" style="width:160px; margin: 0px 0px 10px 0px; display: none;">
              <option value="view count">按阅读量排序</option>
              <option value="publish date">按发布日期排序</option>
          </select>-->
          <!--<div>
              <button type="button" class="btn btn-outline-success" style="margin: 0px 2px 2px 0px;" id="sort-by-view" disabled>当前按阅读量排序</button>
              <button type="button" class="btn btn-info" style="margin: 0px 2px 2px 0px;" id="sort-by-date">切换->按发布日期排序</button>
          </div>-->
          <div class="dropdown">
            <button type="button" id="dropdown_to_sort" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown">
              文章排序
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'post_list_sort' sort_type='view' %}">按阅读量</a>
              <a class="dropdown-item" href="{% url 'post_list_sort' sort_type='date' %}">按发布日期</a>
            </div>
          </div>
          <hr>
        {% if user.is_authenticated %}
        <p style="margin: 10px;"><a href="{% url 'create_new' %}"><i class="fa fa-plus" aria-hidden="true">新增文章</i></a></p>
        {% endif %}
        {% for post in posts %}
          {% if post.visiable.name != 'private' or user.is_authenticated %}
          <article class="post-preview">
            <p class="post-meta">
                {{ post.created_date|date }} - 由{{post.author}} &ensp;&ensp;
                <span class='comment-count'>{{ post.comment_set.count }} 评论</span> &ensp;&ensp;
                <span class='view-count'>{{ post.views }} 阅读</span>
            </p>
            {% if post.visiable.name == 'private' %}
              <h3 class="post-title"><a href="{% url 'post_detail' post.id %}">[private] - {{ post.title }}</a></h3>
            {% else %}
              <h3><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h3>
            {% endif %}
            <h6 class="post-subtitle">{{ post.text|safe|truncatechars:120}}...</h6>
            <div class="read-more" style="padding:0 0 20px 0;">
                <!--<a href="{{ post.get_absolute_url }}" class="btn btn-primary">查看更多&rarr;</a>-->
                <a href="{% url 'post_detail' post.id %}" class="btn btn-outline-primary">继续阅读</a>
            </div>
              {% if post.category %}
                  <div class="category">
                    <img src="/media/icons/icons8-category-40px-1.png" width="20" height="20">
                    <span class="badge badge-success"><a href="{% url 'archives_category' post.category.name %}" style="color: white; text-decoration: none;">{{ post.category.name }}</a></span>
                  </div>
              {% endif %}
              {% if post.tag.all %}
                  <div class="tag"><img src="/media/icons/icons8-tag-64px-1.png" width="20" height="20">
                  {% for t in post.tag.all %}
                      <span class="badge badge-info"><a href="{% url 'archives_tag' t.name %}" style="color: white; text-decoration: none;">{{ t.name }}</a></span>
                  {% endfor %}
                  </div>
              {% endif %}
          </article>
          <hr>
          {% endif %}
        {% empty %}
          <h1>您搜索的条件没有数据</h1>
        {% endfor %}
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- zhanshi-20191030 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9496515710476197"
             data-ad-slot="6798025641"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <!-- Page navigation -->
        <ul class='pagination justify-content-center' style="line-height:40px; padding: 10px 0px 0px 0px;">
            {% if posts.has_previous %}
                <li class="page-item"><a href="?page={{ posts.previous_page_number }}" class="btn btn-primary float-left">&laquo;上一页</a></li>
            {% endif %}

            &nbsp;&nbsp; {{ posts.number }} / {{ posts.paginator.num_pages }} &nbsp;&nbsp;

            {% if posts.has_next %}
                <li class="page-item"><a href="?page={{ posts.next_page_number }}" class="btn btn-primary float-right">下一页 &raquo;</a></li>
            {% endif %}
            &emsp;<input class="form-control form-control-sm" id="page-number-input" style="width:30px;">
            <button class="btn btn-outline-secondary btn-sm" id="page-jump" onclick="window.location.href='?page='+document.getElementById('page-number-input').value">跳转</button>
        </ul>
      </div>
    </div>
  </div>

<script type="text/javascript">
    if (location.pathname.indexOf("/post-list") >= 0) {
        document.title = '文章列表 - ' + document.title;
    }
    else if (location.pathname.indexOf("/categorization/category") >= 0) {
        category = location.pathname.substring(1, location.pathname.length-1).split("/").pop();
        document.title = '类别 - ' + decodeURI(category) + ' - ' + document.title;
    }
    else if (location.pathname.indexOf("/categorization/tag") >= 0) {
        tag = location.pathname.substring(1, location.pathname.length-1).split("/").pop();
        document.title = '标签 - ' + decodeURI(tag) + ' - ' + document.title;
    }
    else if (location.pathname.indexOf("/sort-by-view") >= 0) {
        document.title = '文章排序 - 阅读量 - ' + document.title;
    }
    else if (location.pathname.indexOf("/sort-by-date") >= 0) {
        document.title = '文章排序 - 发布日期 - ' + document.title;
    }
    else {
        date_array = location.pathname.substring(1, location.pathname.length-1).split("/");
        month = date_array.pop();
        year = date_array.pop();
        document.title = '日期范围 - ' + year + '/' + month + ' - ' + document.title;
    }

    if (window.location.href.indexOf("sort-by-view") >= 0) {
        var dropdown_btn = document.getElementById("dropdown_to_sort");
        dropdown_btn.innerHTML = "按阅读量";
    }
    else if (window.location.href.indexOf("sort-by-date") >= 0) {
        var dropdown_btn = document.getElementById("dropdown_to_sort");
        dropdown_btn.innerHTML = "按发布日期";
    }
    /*if (window.location.href.indexOf("sort-by-view") >= 0) {
        var by_view_btn = document.getElementById("sort-by-view");
        var by_date_btn = document.getElementById("sort-by-date");
        by_date_btn.removeAttribute("disabled");
        by_date_btn.innerHTML = "切换->按发布日期排序";
        by_date_btn.setAttribute("class", "btn btn-info");
        by_view_btn.setAttribute("disabled", true);
        by_view_btn.innerHTML = "当前按阅读量排序";
        by_view_btn.setAttribute("class", "btn btn-outline-success");
    }
    else if (window.location.href.indexOf("sort-by-date") >= 0) {
        var by_view_btn = document.getElementById("sort-by-view");
        var by_date_btn = document.getElementById("sort-by-date");
        by_view_btn.removeAttribute("disabled");
        by_view_btn.innerHTML = "切换->按阅读量排序";
        by_view_btn.setAttribute("class", "btn btn-info");
        by_date_btn.setAttribute("disabled", true);
        by_date_btn.innerHTML = "当前按发布日期排序";
        by_date_btn.setAttribute("class", "btn btn-outline-success");
    }*/

    $('#sort-by-date').click(function(){
        no_sort_url = "";
        search_params = window.location.search;
        if (search_params.length > 0) {
            no_sort_url = window.location.href.split(search_params)[0].split("sort")[0];
        }
        else {
            no_sort_url = window.location.href.split("sort")[0];
        }
        if (no_sort_url.endsWith("/")) {
          window.location.href = no_sort_url + "sort-by-date";
        }
        else {
          window.location.href = no_sort_url + "/sort-by-date";
        }
    });

    $('#sort-by-view').click(function(){
        no_sort_url = "";
        search_params = window.location.search;
         if (search_params.length > 0) {
            no_sort_url = window.location.href.split(search_params)[0].split("sort")[0];
        }
        else {
            no_sort_url = window.location.href.split("sort")[0];
        }
        if (no_sort_url.endsWith("/")) {
          window.location.href = no_sort_url + "sort-by-view";
        }
        else {
          window.location.href = no_sort_url + "/sort-by-view";
        }
    });
</script>
{% endblock %}
