{% extends 'blog/base.html' %}

{% load highlight %}

{% block content %}
{% for post in page.object_list %}
    <article>
    {% if post.object.visiable.name != 'private' or user.is_authenticated %}
        <hr/>
        <div class="card">
            <div class="card-header" style="background-color:#b8daff;">
                {{ post.object.created_date|date }} - 由{{post.object.author}} &ensp;&ensp;
                <span class='comment-count'>{{ post.object.comment_set.count }} 评论</span> &ensp;&ensp;
                <span class='view-count'>{{ post.object.views }} 阅读</span>
            </div>
            <div class="card-body">
                {% if post.object.visiable.name == 'private' %}
                  <h3><a href="{% url 'post_detail' post.object.id %}">[private] - {% highlight post.object.title with query %}</a></h3>
                {% else %}
                  <h3><a href="{% url 'post_detail' post.object.id %}">{% highlight post.object.title with query %}</a><h3>
                {% endif %}
                <h6>{% highlight post.object.text with query max_length 40 %}</h6>
            </div>
            <div class="read-more" style="padding:20px;">
                <a href="{% url 'post_detail' post.object.id %}" class="btn btn-primary">继续阅读</a>
            </div>
            <div class="card-footer bg-light text-dark">
                {% if post.object.category %}
                    <div class="category">
                      类别: <span class="badge badge-success">{{ post.object.category.name }};</span>
                    </div>
                {% endif %}
                {% if post.object.tag.all %}
                    <div class="tag">标签:
                    {% for t in post.object.tag.all %}
                        <span class="badge badge-info">{{ t.name }};</span>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    </article>
{% empty %}
  <h1>您搜索的条件没有数据</h1>
{% endfor %}
<hr/>
{% endblock %}
